html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.flashes {
    background-color: rgba(0, 0, 0, 0.85);
    border: 0 solid;
    border-radius: 12px;
    color: white;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    width: 260px;
}

.flashes div {
    margin: 10px;
}

.flashes .close {
    cursor: pointer;
    display: block;
    float: right;
}

.flashes span:hover {
    text-shadow: 0 0 6px white;
}

.flashes li {
    display: inline;
    margin-right: 15px;
}