<!doctype html>
<html>
<head>
<title>My Application</title>
<link rel='shortcut icon' href="{{ url_for('static', filename='img/favicon.png') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <div>
        <span class="close">&times</span>
        <li>{{ message }}</li>
    </div>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block body %}{% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename='js/app/app.js') }}"></script>
</body>
</html>